<div class="container" style="align-items: center;text-align: center;">
    <h2>Slyme's Home</h2>
    <div style="margin-top:5px;">
        <a href="https://discord.com/users/318397849006112768" style="padding:3px;"><i class="fa-brands fa-discord"></i></a>
        <a href="https://namemc.com/profile/Slymeball.1" style="padding:3px;"><i class="fa-solid fa-cube"></i></a>
        <a href="https://lemmy.world/u/Slyme" style="padding:3px;"><i class="fa-solid fa-earth-americas"></i></a>
        <a href="https://twitch.com/BallOfSlyme" style="padding:3px;"><i class="fa-brands fa-twitch"></i></a>
        <a rel="me" href="https://mstdn.social/@slyme" style="padding:3px;"><i class="fa-brands fa-mastodon"></i></a>
    </div>
</div>