body {
    margin: 10px 25%;
    padding: 0;
    background-color: #11111b;
}

@media screen and (max-width: 800px) {
    body {
        margin: 10px 10px;
    }
}

div.container {
    border: 1px solid #33333c80;
    margin: 10px 0 0;
    padding: 10px;
    background-color: #22222b80;
    border-radius: 10px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 100%
}

ul.image-stack {
    list-style-type: none;
    padding: 0 0;
    margin: 0;
    overflow: hidden;
}

ul.image-stack li {
    float: left;
}

ul.image-stack li a {
    display: block;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    color: white;
    height: 32px;
    align-items: center;
    text-decoration: none;
    padding: 0px 4px;
}

ul.image-stack li a:hover {
    background-color: none;
}

ul.image-stack li:first-child a {
    padding: 0 4px 0 0;
}

ul.image-stack li a img {
    border-radius: 5px;
    width: 32px;
    background-color: rgba(255,255,255,0.25);
}