blockquote {
    border-left: 3px solid rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    margin-left: 20px;
}

blockquote q {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

blockquote cite {
    color:rgba(255, 255, 255, 0.75);
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

blockquote cite::before {
    color:rgba(228, 228, 228, 0.75);
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    content: "\a— ";
    white-space: pre;
}