<html lang="en">
    <head>
        <!-- meta shit... tbh idk what this does -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Slymeball // {{ page.title }}</title> <!-- except this one -->
        <link href="/assets/images/logo.png" rel="icon">

        <!-- stylesheets -->
        <link href="/assets/style/fonts.css" rel="stylesheet">
        <link href="/assets/style/w3nav.css" rel="stylesheet">
        <link href="/assets/style/main.css" rel="stylesheet">
        <link href="/assets/style/quotes.css" rel="stylesheet">

        <!-- scripts -->
        <script src="https://kit.fontawesome.com/2202892bcb.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include header.html %}
        <div class="container">
            <h1>{{ page.title }}</h1>
            <hr>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
